<!DOCTYPE html>
<html>
  <head>
    <title>DigitalWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if Rails.env.development? %>
      <script src="http://localhost:8080/main.js"></script>
    <% else %>
      <script src="/main-hash.js"></script>
    <% end %>

    <%= yield :inline_javascript %>
  </body>
</html>
